@model PhongNguyenPuppy_MVC.ViewModels.CartModel
<a asp-controller="Cart" asp-action="Index" class="position-relative me-4 my-auto">
    <i class="fa fa-shopping-bag fa-2x"></i>
    <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
          style="bottom: -3px; right: -5px; height: 16px; min-width: 16px; font-size: 0.7rem;">
        @Model.Quantity
    </span>
</a>