        <!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">PhongNguyen Puppy</h1>
                        <p class="text-secondary mb-0">Chuyên cung cấp Thức ăn & Đồ dùng dành cho chó</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        
                        <div id="mc_embed_signup_footer">
                            <form action="https://nttu.us18.list-manage.com/subscribe/post?u=5552e93329392823b9547b36e&amp;id=888fdbdd9c&amp;f_id=0023b3e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h5 class="text-white-50 mb-3">Đăng ký nhận tin mới!</h5>
                                    
                                    <div class="mc-field-group">
                                        <input type="email" name="EMAIL" class="required email form-control border-0 w-100 py-3 px-4 rounded-pill" id="mce-EMAIL" required="" value="" placeholder="Email của bạn">
                                    </div>
                                    
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_2610a3224735575504110a083_fe3f94ef4b" tabindex="-1" value="">
                                    </div>
                                    
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" value="Đăng ký ngay" style="top: 40px; right: 0;">
                                            <p style="margin: 0px auto;"></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tại sao mọi người thích chúng tôi!</h4>
                    <p class="mb-4">
                        Chúng tôi yêu thương từng chú chó và cung cấp sản phẩm, dịch vụ chất lượng. Đội ngũ chuyên nghiệp,
                        không gian thoải mái và tư vấn tận tình giúp khách hàng luôn tin tưởng và hài lòng.
                    </p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Thông tin shop</h4>
                    <a class="btn-link" href="">Về chúng tôi</a>
                    <a class="btn-link" href="">Liên lạc</a>
                    <a class="btn-link" href="">Chính sách bảo mật</a>
                    <a class="btn-link" href="">Điều khoản và điều kiện</a>
                    <a class="btn-link" href="">Chính sách hoàn trả</a>
                    <a class="btn-link" href="">Câu hỏi thường gặp & Trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Tài Khoản</h4>
                    <a class="btn-link" href="">Tài Khoản của tôi</a>
                    <a class="btn-link" href="">Chi tiết sản phẩm</a>
                    <a class="btn-link" href="">Giỏ hàng</a>
                    <a class="btn-link" href="">Danh sách yêu thích</a>
                    <a class="btn-link" href="">Lịch sử mua hàng</a>
                    <a class="btn-link" href="">Đơn đặt hàng quốc tế</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: Đường 123, Tp. Hồ Chí Minh</p>
                    <p>Email: phongnguyenfe@gmai.com</p>
                    <p>Phone: +0123 4567 8910</p>
                    <p>Payment Accepted</p>
                    <div class="d-flex gap-3 align-items-center flex-wrap">
                        <i class="fab fa-paypal fa-2x text-primary" title="PayPal"></i>
                        <i class="fas fa-credit-card fa-2x text-danger" title="VNPay"></i>
                        <i class="fas fa-money-bill-wave fa-2x text-success" title="Thanh toán khi nhận hàng (COD)"></i>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        // Cần khớp với các trường trong form của bạn
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        // ... nếu có thêm trường khác như FNAME, LNAME thì thêm vào đây ...
    }(jQuery));
    var $mcj = jQuery.noConflict(true);

    // Kích hoạt validation
    $(document).ready(function() {
        $('#mc-embedded-subscribe-form').each(function(){
            $(this).mc_validate();
        });
    });

    // Nếu bạn có toàn bộ phần script dài của Mailchimp (bao gồm cả smsPhone), hãy đặt nó ở đây
    /* ... TOÀN BỘ SCRIPT DÀI CỦA MAILCHIMP BẮT ĐẦU TỪ "(function($) {window.fnames = new Array()..." CỦA BẠN NÊN ĐẶT Ở ĐÂY ... */
</script>
<!-- Footer End -->